/node_modules
/public/js/app.js
/public/js/chunks/
/public/css/app.css
/storage/*.key
/vendor
.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/main.css
/public/css/prism-tomorrow.css
/public/css/material-icons/codepoints
/public/css/material-icons/material-icons.css
/public/css/material-icons/codepoints.scss
/public/css/material-icons/material-icons.scss
/public/css/material-icons/mixins.scss
/public/css/material-icons/MaterialIcons-Regular.svg
/public/css/material-icons/variables.scss
